@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $nav_bg_color;
        border-radius: 0px 31px 31px 0px;
        width: 10rem;
        height: 100vh;
        flex: 1.5;

        a {
            display: flex;
            font-size: 1.6rem;
            font-family: $text_font_family;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $nav_button_p_color;
            width: 15rem;
            height: 3.5rem;
            border-radius: 0.5rem;
            background-color: $button_bg_color;
            border: none;
            transition: transform .4s ease;

            &:hover {
                transform: scale(1.1, 1.1);
            }

            &:not(:hover) {
                opacity: 0.5;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;   
        justify-content: space-evenly;
        flex: 9;

        header {
            width: 100%;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $title_font_family;
            font-weight: 400;
    
            p {
                display: flex;
                align-items: center;
                font-size: 4.5rem;
                font-weight: 500;
                
                span {
                    font-weight: 600;
                    font-size: 7rem;
                }
            }
        }
    
       main {
            height: 35rem;
            width: 95rem; 
            margin: 2rem;
            display: flex;
            justify-content: space-between;

            .image {
                .main_img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 31rem;
                    width: 30rem;
                    background-color: $card_bg_color;
                    border-radius: 100%;
                    box-shadow: $img_card_box_shadow;
                    p {
                        font-size: 15.5rem;
                        font-weight: 500;
                        font-family: $text_font_family;
                    }

                    span {
                        display: flex;
                        font-size: 3rem;
                        text-transform: uppercase;
                        font-family: $text_font_family;
                        font-weight: 700;
                    }
                }
                .saibamais_butao {
                    height: 6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        color: $card_p_color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        background-color: $card_bg_color;
                        width: 18rem;
                        height: 3.5rem;
                        border-radius: 0.5rem;
                        font-weight: 600;
                        font-family: $title_font_family;
                        font-size: 1.8rem;
                        transition: box-shadow .2s ease;

                        &:hover {
                            box-shadow: $img_card_box_shadow;
                        }
                    }
                }
            }
            .main_txt {
                width: 60rem;
                background-color: $card_bg_color;
                border-radius: 1.5rem;
                box-shadow: $img_card_box_shadow;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                h2 {
                    width: 80%;
                    height: 8rem;
                    padding-top: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 3rem;
                    color: $card_title_color;
                    font-family: $title_font_family;
                    margin-bottom: 3rem;
                    text-align: center;
                }

                a {
                    color: $card_p_color;
                }

                p {
                    text-align: justify;
                    font-family: $card_text_font_family;
                    font-size: 2rem;
                    width: 56rem;
                }
            }
        }

        footer {
            height: 15%;
            width: 82%;
            background-color: $footer_bg_color;
            border-radius: 1rem;
            box-shadow: $img_card_box_shadow;
        }
    }
}